h1{
    color: #102542;
    font-size: 40px;
    font-family: Helvtica, sans-serif;
    text-align: center;
}

h2{
    color: #102542;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h3{
    font-family: Comic Sans, Comic Sans MS; cursive;
}

table{
    font-family: Helvetica, sans-serif;
    border-collapse:collapse;
    border-width: 1px;
    border-style: solid;
    border-color: #2695A6;
}



th{
    font-weight: 800;
    background-color: #2695A6;
    color: #ffffff;
}

tr.alt td{
    background-color: #9AEFFC;
}

UL{
    list-style-image: url('images/pointer-icon.png');
}

ol{
    list-style-type: upper-roman;
}

#menu-bar a{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    background-color: aquamarine;
    padding: 5px;
}

#menu-bar a:hover{
    background-color: aqua;
    color: #ffffff;
}

body{
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    background-color: #EAECC6;
}

p{
    color: #2296C7;
}